<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplicationPruebaPDF.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApplicationPruebaPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="WindowsFormsApplicationPruebaPDF.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

  <appSettings>
      <add key="UsuarioUniverse" value="wsMitrol"/>
    <add key="PasswordUniverseEncriptado" value="QtrePkoCH3U2VeRxYfMRZA=="/>
    <add key="CuentaUniverse" value="antina"/>
    <add key="ServerUniverse" value="10.10.0.213"/>
    
    
    <add key="CantidadCamposxRegistro" value="73"></add>
    <add key="PathLog" value="C:\github\\WindowsFormsApplicationPruebaPDF\\log\\logWindowsFormPruebaPDF.log"></add>
    <add key="Logueo" value="true"></add>
    <!--Ruta de las imagenes prod '\\10.10.0.16\\c$\\inetpub\\wwwroot\\pdfgenprod\\images\\' test '\\10.10.0.124\\c$\\inetpub\\wwwroot\\pdfgen\\images\\' -->
    <add key="ImageRoute" value="C:\\github\\WSGeneracionComprobantes\\images\\"></add>
    <!--Es indistinta no cambia en test o produccion la usa para leer las fuentes -->
    <add key="FontRoute" value="C:\\github\\WindowsFormsApplicationPruebaPDF\\font\\"></add>
    <add key="urlpath" value="/files/"></add>
    <add key="FileRoute" value="c:\\TelnetPDF\\WebApplicationTelnetPDF\\WebApplicationTelnetPDF\\files\\"></add>
    <add key="urlmensaje" value="Descargar Archivo Aqui"></add>
    <!--
    <add key="CnnStringSqlServerSinPassword" value="Data Source=10.10.10.55;Initial Catalog=Antina;User ID=ws_comprobantes;Password="></add>
    <add key="PasswordSqlServerEncriptado" value="T8NgrJ8ZdwJm21JI9DCPhaPsSpWPKeEJ"></add>
-->
    <add key="CnnStringSqlServerSinPassword" value="Data Source=10.10.10.50;Initial Catalog=Antina;User ID=usrTelcomGestion;Password="/>
    <add key="PasswordSqlServerEncriptado" value="UP/r1AHpll3MtE6CuCq4ilE+gSjxQYcR"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
    <WindowsFormsApplicationPruebaPDF.Properties.Settings>
      <setting name="WindowsFormsApplicationPruebaPDF_WsGeneracionComprobantes_pdfgen_prod_WSGeneracionComprobantes" serializeAs="String">
        <value>http://prod.pdfgen.antina.com.ar/WSGeneracionComprobantes.asmx</value>
      </setting>
      <setting name="WindowsFormsApplicationPruebaPDF_wsgeneracioncomprobantes85_WSGeneracionComprobantes" serializeAs="String">
        <value>http://wsgeneracioncomprobantes.antina.com.ar/WSGeneracionComprobantes.asmx</value>
      </setting>
    </WindowsFormsApplicationPruebaPDF.Properties.Settings>
  </applicationSettings>
</configuration>
